body {
    font-family: 'News Cycle', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}



h2 {
    color: #0974b3;
}

.date {
     margin-top: -30px;
     margin-bottom: 20px;
    }

.all {
    max-width: 359px;
    height: 100px;
    background: white;
    border-top: 5px solid grey;
    margin-left: 20px;
    transition: 0.3s;

}


.float-left {
    float: left;
    margin-right: 20px;
}

.inline-block {
    display: inline-block;
}

.white {
    background: white;
}

a {
    display: block;
    text-align: center;
    background: #0974b3;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    border-radius: 20px 0 20px 0;
}

.all:hover {
    transform: translateY(-20px);
}